# Name: Optofluidics Fiji package.
# Author: Jean-Yves Tinevez


# The spectrum player plugin.
Plugins>Optofluidics, "Spectrum player", com.optofluidics.spectrumplayer.SpectrumPlayerPlugin_

# A utility to project image along their column
Plugins>Optofluidics, "Column sum projection", com.optofluidics.plugin.ColumnProjector_

# Kymographs generators.
Plugins>Optofluidics, "Vertical kymograph", com.optofluidics.plugin.Kymograph_("vertical")
Plugins>Optofluidics, "Horizontal kymograph", com.optofluidics.plugin.Kymograph_("horizontal")

# Still defects subtraction
Plugins>Optofluidics, "Subtract still defects", com.optofluidics.plugin.StillSubtractor_


# Batch process
Plugins>Optofluidics, "Batch process images", com.optofluidics.app.OptofluidicsBatchProcessor_
Plugins>Optofluidics, "Configure settings", com.optofluidics.app.OptofluidicsParametersEditorFrame
