# Name: Optofluidics Fiji package.
# Author: Jean-Yves Tinevez


# The spectrum player plugin.
Plugins>Optofluidics, "Spectrum player", com.optofluidics.spectrumplayer.SpectrumPlayerPlugin_
# A utility to project image along their column
Plugins>Optofluidics, "Column sum projection", com.optofluidics.spectrumplayer.ColumnProjector_